<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h1 class="text-light">CineMax</h1>
      <a class="nav-link bg-dark text-light" routerLink="/pelicula" routerLinkActive="active">Pelicula</a>
      <a class="nav-link bg-dark text-light" routerLink="/categoria" routerLinkActive="active">Categoria</a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

  

<router-outlet></router-outlet>