<div class="container">
	<div class="row">
		<div class="col-md-8 mt-4">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						Inserte una nueva categoria
							<div class="form-group">
								<input type="text" [(ngModel)]="addGenre.gen_title" placeholder="Inserte una descripcion" class="form-control">
							</div>
							<button (click)="addGenres()" class="btn btn-primary">Insertar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 mt-4">
			<ul class="list-group">
				<li *ngFor="let genrer of lstGenres" class="list-group-item list-group-item-action">
					<span class="badge badge-primary">{{genrer.gen_id}}</span> {{genrer.gen_title}}
				</li>
			</ul>
		</div>
	</div>
</div>
